In [1]:
import numpy as np
import pandas as pd

In [2]:
a = 1.2344586
a

1.2344586

In [3]:
# 소숫점 이하 3자리로 고정
%precision 3
# pd.options.display.precision = 3

'%.3f'

In [4]:
a

1.234

In [8]:
df = pd.read_csv('data/ch2_scores_em.csv', index_col ='student number')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   english      50 non-null     int64
 1   mathematics  50 non-null     int64
dtypes: int64(2)
memory usage: 1.2 KB

In [10]:
np.__version__

'1.24.2'

In [11]:
pd.__version__

'2.0.0'

In [14]:
df['english']

student number
1     42
2     69
3     56
4     41
5     57
6     48
7     65
8     49
9     65
10    58
11    70
12    47
13    51
14    64
15    62
16    70
17    71
18    68
19    73
20    37
21    65
22    65
23    61
24    52
25    57
26    57
27    75
28    61
29    47
30    54
31    66
32    54
33    54
34    42
35    37
36    79
37    56
38    62
39    62
40    55
41    63
42    57
43    57
44    67
45    55
46    45
47    66
48    55
49    64
50    66
Name: english, dtype: int64

In [15]:
# 중앙값 구하기 (평균) 
np.median(df['english'])

57.500