In [1]:
import pandas as pd
import seaborn as sb

In [5]:
tips = sb.load_dataset('tips')

In [6]:
# astype() 형태변환, category -> str 형태로 변환 
tips['sex_str'] = tips['sex'].astype(str)

In [8]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [9]:
tips['total_bill'] = tips['total_bill'].astype(str)

In [10]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.3+ KB

In [11]:
tips['total_bill'] = tips['total_bill'].astype(float)

In [12]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [16]:
tips_sub = tips.head(10)
tips_sub.loc[[1,3,5,7],'total_bill'] = 'missing'
tips_sub

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [17]:
tips_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  10 non-null     object
 1   tip         10 non-null     float64
 2   sex         10 non-null     category
 3   smoker      10 non-null     category
 4   day         10 non-null     category
 5   time        10 non-null     category
 6   size        10 non-null     int64
 7   sex_str     10 non-null     object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 1.0+ KB

In [18]:
# missing 이라는 값 때문에 float로 변경 불가,
# 대부분이 숫자 값일때, 몇몇의 문자열은 어떻게 처리할까?
tips_sub['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [21]:
from numpy import NAN,NaN
type(NaN)

float

In [22]:
# 만약 값이 1,234 같은 경우라면? -> to_numeric 을 하기전에 repalce를 해주자
pd.to_numeric(tips_sub['total_bill'],errors='coerce')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [23]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [25]:
tips['sex'] = tips['sex'].astype(str)
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB

In [28]:
tips['sex'] = tips['sex'].astype(category)

NameError: name 'cat' is not defined

In [26]:
tips['sex'].cat.categories

AttributeError: Can only use .cat accessor with a 'category' dtype

In [29]:
tips['day'].cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

In [30]:
tips['sex'].cat.reorder_categories(['Male','Female'])

AttributeError: Can only use .cat accessor with a 'category' dtype

In [31]:
tips['day'] = tips['day'].cat.add_categories(['mon'])

In [32]:
tips['day'].cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun', 'mon'], dtype='object')

In [33]:
# tips['day'] = tips['day'].cat.remove_unused_categories(['mon'])
tips['day'] = tips['day'].cat.remove_categories(['mon'])

In [34]:
tips['day'].cat.categories

Index(['Fri', 'Sat', 'Sun', 'Thur'], dtype='object')

NameError: name 'mon' is not defined